<div class="centre">
    <h2> Saisie des resultats </h2>
</div>

<table class="tableau">
    <tr id="pasLigne" class="centre">
        <td></td>
        <td><strong>Place</strong></td>
        <td><strong>Pilote</strong></td>
        <td><strong>Temps</strong></td>
        <td><strong>Points</strong></td>
    </tr>
    {{#each resultat}}
        <tr>
            <td><a href="/resultats/saisie/supprimer/{{gpnum}}/{{this.pilnum}}"><img src="/image/act_delete.png"></a></td>
            <td>{{this.place}}</td>
            <td>{{this.pilnom}}</td>
            <td id="agrandir">{{this.tempscourse}}</td>
            <td>{{this.points}}</td>
        </tr>
    {{/each}}
    <tr>
        <td>{{lastplace}}</td>
        <td>
            <select name="pilote" form="submitsaisie">
                {{#each listePilote}}
                    <option value="{{this.PILNUM}}">{{this.PILNOM}}</option>
                {{/each}}
            </select>
        </td>
        <td>
            <input type="text" form="submitsaisie" maxlength="2" name="m" size="2">
            :<input type="text" form="submitsaisie" maxlength="2" name="s" size="2">
            :<input type="text" form="submitsaisie" maxlength="2" name="ms" size="2">
        </td>
        <td id="pasDroite"></td>
        <td id="pasGauche">
            <form id="submitsaisie" method="post" action="/resultats/saisie/ajouter">
                <input id="bouton_valid" type="submit" value="OK">
                <input type="hidden" value="{{gpnum}}" name="gpnum"/>
            </form>
        </td>
    </tr>
</table>