<div class="centre"><img src="/image/cat_ecurie.png">
    <h3>Gestion des ecuries</h3>
    <p class="warning">ATTENTION ! Toute suppression d'écurie entrainera une suppression en cascade des pilotes, voitures etc...</p>
    <a href="/ecuries/ajouter"><img src="/image/act_add.png">Ajouter une ecurie</a>
</div>
<br/><br/>
<div class="gauche">
    <table class="tableau">
        <tr>
            <td>
                <strong>Nom</strong>
            </td>
            <td>
                <strong>Directeur</strong>
            </td>
            <td>
                <strong>Points</strong>
            </td>
            <td>
                <strong>Actions</strong>
            </td>
        </tr>
        {{#each listeEcurie}}
            <tr>
                <td>
                    {{this.ecunom}}
                </td>
                <td>
                    {{this.ecunomdir}}
                </td>
                <td>
                    {{this.ecupoints}}
                </td>
                <td>
                    <a href="/ecuries/modifier/{{this.ecunum}}"><img src="/image/act_edit.png"> Modifier </a> <a href="/ecuries/supprimer/{{this.ecunum}}"><img src="/image/act_delete.png">
                    Supprimer</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<br class="myboth"/>